/**
*
* Variables
*
**/

$columnsWidthSet: (10, 20, 25, 30, 33, 40, 50, 60, 67, 70, 75, 80, 90);

/* Colors - feel free to add more, related to project, colours */
$colorMain: #222;
$colorWhite: #fff;
$colorRed: #d70000;

/* Colors array - useful for other components */
$colors: (
    'main': $colorMain,
    'white': $colorWhite,
    'red': $colorRed
);

/* Colors that should get white text color - specify the names here that should reflect the colour name variable */
$bgColorsWhiteFont: ('red');

$contentLinksDefaultColor: $colorRed;